.div-center
{
	text-align:center;
}

.has-error
{
	color:red;
}

.div-hide
{
	display:none;
}

.button
{
    border:1px solid black;
    background-color: #8FD0EC;
    border-radius:5px;
    box-sizing:border-box;
    padding:10px;
    box-shadow: 1px 1px 1px 1px #888888;
    font-family: "Open Sans", Arial, sans-serif;
    font-size:1em;
    font-weight:400;
}
div
{
	 margin-top: 0.5em;
}